.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.944336;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.972656;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.973145;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:87.360000px;}
._0{width:94.584000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(71,97,102);}
.fs3{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:72.000000px;}
.fs1{font-size:96.000000px;}
.fs0{font-size:104.000000px;}
.fs5{font-size:192.000000px;}
.yd{bottom:2.643001px;}
.yf{bottom:11.101002px;}
.y2{bottom:16.487000px;}
.y5{bottom:23.722000px;}
.y19{bottom:25.918000px;}
.yb{bottom:29.580994px;}
.y25{bottom:30.353001px;}
.y2c{bottom:30.526001px;}
.y0{bottom:35.500000px;}
.y23{bottom:44.406002px;}
.yc{bottom:50.162989px;}
.y4{bottom:50.992001px;}
.y22{bottom:60.313004px;}
.ya{bottom:62.032989px;}
.y6{bottom:68.169006px;}
.y21{bottom:76.220005px;}
.y2b{bottom:85.065002px;}
.y17{bottom:89.000000px;}
.y20{bottom:92.127004px;}
.y9{bottom:94.484993px;}
.y16{bottom:114.070004px;}
.y26{bottom:117.000000px;}
.y1f{bottom:123.941002px;}
.y8{bottom:126.936993px;}
.y15{bottom:129.977002px;}
.y2a{bottom:139.604004px;}
.y1e{bottom:139.848003px;}
.y14{bottom:145.884007px;}
.y1d{bottom:155.755005px;}
.y7{bottom:159.388992px;}
.y13{bottom:161.791005px;}
.y1c{bottom:171.662004px;}
.y12{bottom:177.698008px;}
.y11{bottom:193.605006px;}
.y29{bottom:194.143013px;}
.y1b{bottom:201.218002px;}
.y28{bottom:248.682014px;}
.y24{bottom:289.279995px;}
.y1a{bottom:346.214996px;}
.y10{bottom:386.069000px;}
.y3{bottom:426.968994px;}
.y27{bottom:429.664988px;}
.y18{bottom:588.150002px;}
.y1{bottom:640.518997px;}
.ye{bottom:657.269001px;}
.h8{height:14.713000px;}
.ha{height:33.200001px;}
.h9{height:36.000000px;}
.hf{height:40.000000px;}
.hb{height:42.000000px;}
.hd{height:42.355469px;}
.h2{height:53.400002px;}
.h7{height:54.457031px;}
.h11{height:56.435001px;}
.h5{height:72.562500px;}
.h4{height:73.000000px;}
.h3{height:78.000000px;}
.h14{height:145.218750px;}
.hc{height:222.350006px;}
.h10{height:227.300003px;}
.h12{height:312.500000px;}
.h13{height:312.700012px;}
.h6{height:358.799988px;}
.he{height:667.000000px;}
.h1{height:720.500000px;}
.h0{height:792.000000px;}
.w5{width:161.850006px;}
.wb{width:197.800003px;}
.w7{width:216.050003px;}
.w4{width:269.750000px;}
.w3{width:299.750000px;}
.w6{width:321.899994px;}
.w9{width:323.700012px;}
.w2{width:417.399994px;}
.wa{width:431.600006px;}
.wc{width:432.000000px;}
.w8{width:540.000000px;}
.w1{width:540.500000px;}
.w0{width:612.000000px;}
.xb{left:0.000000px;}
.x13{left:5.400000px;}
.x10{left:18.000000px;}
.x0{left:36.000000px;}
.x9{left:45.807999px;}
.x11{left:52.900002px;}
.x5{left:67.497002px;}
.x4{left:82.573997px;}
.x8{left:87.771004px;}
.xa{left:89.950001px;}
.x2{left:93.802002px;}
.x1{left:97.025002px;}
.x6{left:110.834000px;}
.xd{left:119.856003px;}
.x12{left:128.678999px;}
.x7{left:142.162003px;}
.xe{left:145.025002px;}
.x3{left:155.849998px;}
.xf{left:198.000000px;}
.xc{left:359.700012px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:116.480000pt;}
._0{width:126.112000pt;}
.fs3{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:96.000000pt;}
.fs1{font-size:128.000000pt;}
.fs0{font-size:138.666667pt;}
.fs5{font-size:256.000000pt;}
.yd{bottom:3.524001pt;}
.yf{bottom:14.801336pt;}
.y2{bottom:21.982666pt;}
.y5{bottom:31.629333pt;}
.y19{bottom:34.557334pt;}
.yb{bottom:39.441325pt;}
.y25{bottom:40.470668pt;}
.y2c{bottom:40.701335pt;}
.y0{bottom:47.333333pt;}
.y23{bottom:59.208003pt;}
.yc{bottom:66.883985pt;}
.y4{bottom:67.989334pt;}
.y22{bottom:80.417338pt;}
.ya{bottom:82.710653pt;}
.y6{bottom:90.892008pt;}
.y21{bottom:101.626673pt;}
.y2b{bottom:113.420003pt;}
.y17{bottom:118.666667pt;}
.y20{bottom:122.836005pt;}
.y9{bottom:125.979991pt;}
.y16{bottom:152.093339pt;}
.y26{bottom:156.000000pt;}
.y1f{bottom:165.254669pt;}
.y8{bottom:169.249324pt;}
.y15{bottom:173.302670pt;}
.y2a{bottom:186.138672pt;}
.y1e{bottom:186.464005pt;}
.y14{bottom:194.512009pt;}
.y1d{bottom:207.673340pt;}
.y7{bottom:212.518656pt;}
.y13{bottom:215.721340pt;}
.y1c{bottom:228.882671pt;}
.y12{bottom:236.930677pt;}
.y11{bottom:258.140008pt;}
.y29{bottom:258.857351pt;}
.y1b{bottom:268.290670pt;}
.y28{bottom:331.576019pt;}
.y24{bottom:385.706660pt;}
.y1a{bottom:461.619995pt;}
.y10{bottom:514.758666pt;}
.y3{bottom:569.291992pt;}
.y27{bottom:572.886650pt;}
.y18{bottom:784.200002pt;}
.y1{bottom:854.025329pt;}
.ye{bottom:876.358667pt;}
.h8{height:19.617334pt;}
.ha{height:44.266668pt;}
.h9{height:48.000000pt;}
.hf{height:53.333333pt;}
.hb{height:56.000000pt;}
.hd{height:56.473958pt;}
.h2{height:71.200002pt;}
.h7{height:72.609375pt;}
.h11{height:75.246668pt;}
.h5{height:96.750000pt;}
.h4{height:97.333333pt;}
.h3{height:104.000000pt;}
.h14{height:193.625000pt;}
.hc{height:296.466675pt;}
.h10{height:303.066671pt;}
.h12{height:416.666667pt;}
.h13{height:416.933350pt;}
.h6{height:478.399984pt;}
.he{height:889.333333pt;}
.h1{height:960.666667pt;}
.h0{height:1056.000000pt;}
.w5{width:215.800008pt;}
.wb{width:263.733337pt;}
.w7{width:288.066671pt;}
.w4{width:359.666667pt;}
.w3{width:399.666667pt;}
.w6{width:429.199992pt;}
.w9{width:431.600016pt;}
.w2{width:556.533325pt;}
.wa{width:575.466675pt;}
.wc{width:576.000000pt;}
.w8{width:720.000000pt;}
.w1{width:720.666667pt;}
.w0{width:816.000000pt;}
.xb{left:0.000000pt;}
.x13{left:7.200000pt;}
.x10{left:24.000000pt;}
.x0{left:48.000000pt;}
.x9{left:61.077332pt;}
.x11{left:70.533335pt;}
.x5{left:89.996002pt;}
.x4{left:110.098663pt;}
.x8{left:117.028005pt;}
.xa{left:119.933334pt;}
.x2{left:125.069336pt;}
.x1{left:129.366669pt;}
.x6{left:147.778666pt;}
.xd{left:159.808004pt;}
.x12{left:171.571999pt;}
.x7{left:189.549337pt;}
.xe{left:193.366669pt;}
.x3{left:207.799998pt;}
.xf{left:264.000000pt;}
.xc{left:479.600016pt;}
}
